{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
<h1>Mes produits:</h1><br>
<center>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <h3>{{msg}}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
</center>
{% for x in products %}
        <section>
            <article>
                <p>{{x[1]}}</p><br>
                <img src="{{x[3]}}" height="200" width="200" alt=""/>
            </article>
            <article>
                <p>Le nutriscore pour ce produit est :</p><br>
                <img src="{{x[4]}}" alt=""/>
                <p>Voici les valeurs nutritionnelles de celui-ci:</p><br>
                <img src="{{x[5]}}" height="200" width="200" alt=""/>
            </article>
            <article>
                <p>Vous pouvez trouver ce produit chez: : </p>
                <h3>{{x[6]}}</h3>
            </article>
            <article>
                <form action="{{ url_for('product_to_delete')}}" method="POST">
                    <input type="text" value="{{ x }}" style="display: none;" name="product" >
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;" ">Supprimer mon produit</button>
                </form>
            </article>
        </section>
{% endfor %}
{% endblock %}