{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
<script language="javascript">
function buttonOff( ) {
   button.disabled = !button.disabled;
}
</script>


<h1>Vous avez recherché :</h1><br>

    <section>
        <article>
            <h2><a href="{{url}}"> {{name}}</a></h2><br>
            <img src="{{image}}" alt="{{name}}"/>
        </article>
        <article>
            <p>Le nutriscore pour ce produit est : </p>
            <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-{{nutriscore}}.svg" alt=""/>
            <br>
            <p>Voici les valeurs nutritionnelles de celui-ci:</p><br>
            <img src="{{image_nutrition}}" alt=""/>
        </article>
    </section>

    <center>
        <h3>Voici une sélection de substituts avec un meilleur nustriscore :</h3>
        {% if sub_none %}
            <h3>Il n'y a pas de substitut pour ce produit malheuresement ...</h3>
        {% else %}
            {% for x in sub %}
        <section>
            <article>
                <p>{{x.get("product_name")}}</p><br>
                <img src="{{x.get('image_url')}}" height="200" width="200" alt=""/>
            </article>
            <article>
                <p>Le nutriscore pour ce produit est :</p><br>
                <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-{{x.get('nutriscore_grade')}}.svg" alt=""/>
                <p>Voici les valeurs nutritionnelles de celui-ci:</p><br>
                <img src="{{x.get('image_nutrition_url')}}" height="200" width="200" alt=""/>
            </article>
            <article>
                <p>Vous pouvez trouver ce produit chez: : </p>
                <h3>{{x.get('stores')}}</h3>
            </article>
            <article>
                <form action="{{url_for('product_to_save')}}" method="POST">
                    <input type="text" value="{{ x }}" style="display: none;" name="product" >
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enregistrer mon produit</button>
                </form>
            </article>
        </section>
    </center>
    {% endfor %}
    {% endif %}
{% endblock %}